/Dia1/nbproject/private/
/Dia1/build/
/Dia2/nbproject/private/
/Dia2/build/
/Dia3/nbproject/private/
/Dia3/build/
/Dia4/nbproject/private/
/Dia4/build/
/Dia6/nbproject/private/
/Dia6/build/
/Dia6/dist/
/Dia7/nbproject/private/
/Dia7/build/
/Dia7/dist/
/Dia8/nbproject/private/
/Dia8/build/
/Dia9/nbproject/private/
/Dia9/build/
/Dia9/dist/
/Dia99/nbproject/private/
/Dia99/build/